/* Logo in top of sidebar */
ul.sections li.camelonta-logo {
    height: 69px;
    padding: 30px 0 2px 0;
    margin: 0 0 0 -4px;
    text-align: center;
    border-bottom: 1px solid #343434;
}
ul.sections li.camelonta-logo a {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0 auto;
    border: 0;
}
ul.sections li.camelonta-logo a img {
    width: 30px;
    border-radius: 16px;
}


/* Avatar in bottom of sidebar */
ul.sections li.avatar {
    position: absolute;
    bottom: 60px;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
}


/* Change colorscheme of grid */
.usky-grid .tb:hover .td {
    border-right: 1px dashed #ccc;
}
.usky-grid .tb:hover .usky-row {
    border-bottom: 1px dashed #ccc;
}


/* Lists */
.cam-list div {
    padding: 5px;
}

.odd {
    background-color:#fff!important;
}

.even {
    background-color:#f8f8f8;
}


/* HTML-editor in grid */
.mce-tinymce.mce-container.mce-panel {
    border: 1px solid #ccc!important;
}

.usky-grid .mce-toolbar {
    position: inherit;
    width: 100%;
}


/* Larger headlines */
.umb-panel-header .umb-headline, .umb-panel-header h1 {
    font-size: 22px
}