/* Logo in top of sidebar */
ul.sections li.camelonta-logo {
    height: 69px;
    padding: 30px 0 2px 0;
    margin: 0 0 0 -4px;
    text-align: center;
    border-bottom: 1px solid #343434;
}

ul.sections li.camelonta-logo a {
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0 auto;
    border: 0;
}

/* left border in sidebar */
ul.sections li.current, ul.sections li:hover {
    border-left: 4px #94BD2C solid;
}


/* Avatar in bottom of sidebar */
ul.sections li.avatar {
    position: absolute;
    bottom: 60px;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
}


/* Change colorscheme of grid */
.usky-grid .tb:hover .td {
    border-right: 1px dashed #ccc;
}

.usky-grid .tb:hover .usky-row {
    border-bottom: 1px dashed #ccc;
}


/* Lists */
.cam-list div {
    padding: 5px;
}

.odd {
    background-color: #fff !important;
}

.even {
    background-color: #f8f8f8;
}


/* HTML-editor in grid */
.mce-tinymce.mce-container.mce-panel {
    border: 1px solid #ccc !important;
}


/* Larger headlines */
.umb-panel-header .umb-headline, .umb-panel-header h1 {
    font-size: 22px;
}

/* Login page */
.login-overlay .form {
    width: 400px;
}

#login h1 {
    font-size: 24px;
    width: 400px;
}

#login .camelonta-logo {
    height: 69px;
    padding: 30px 0 2px 0;
    margin: 0 0 0 -4px;
    text-align: center;
    position: absolute;
    left: 22px;
    top: -4px;
}

#login .camelonta-logo a {
    display:block;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0 auto;
    border: 0;
}

.cam-basedon {
    font-size: 12px;
    position: relative;
    top: -13px;
}

@media (max-width: 900px) {
    .login-overlay .form {
      padding-left: 20px;
    }
}

/* Colors */
.cam-green {
    color: #94BD2C;
}

.cam-orange {
    color: #df7f48;
}

.controls-row img{
 max-width: 100%;   
}
